/* https://www.dafont.com/pix-chicago.font */
@font-face {
  font-family: 'pixChicago';
  src: url('./pixChicago.woff') format('woff');
}
* {
  font-family: 'pixChicago', sans-serif;
  user-select: none;
  color: var(--black);
}

:root {
  --white: #fdfae7;
  --black: #100F0F;
  --background-image: url('');
}

body {
  display: flex;
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#main-container {
  background-color: var(--white);
  border: 3px solid var(--black);
  box-shadow: 3px 3px 0 var(--black), 1px 1px 0 6px var(--white);
}

#title-bar {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 3px solid var(--black);

  #close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22%;
    left: 15px;
    cursor: pointer;
    z-index: 1;
    background-color: var(--white);
    border: 3px solid var(--black);
    box-shadow: 0 0 0 3px var(--white);

    svg {
      position: absolute;
      fill: var(--black);
      shape-rendering: crispEdges;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      scale: 2;
      transition: opacity 0.2s ease-in-out;
    }
  }

  hr {
    width: 99%;
    margin: 0;
    border: none;
    border-top: 3px solid var(--black);
    position: absolute;
  }
}

/* 6hr... */

#hr1 {
  top: calc((100% /9)*1 + 3px);
}

#hr2 {
  top: calc((100% / 8)*2 + 3px);
}

#hr3 {
  top: calc((100% / 8)*3 + 3px);
}

#hr4 {
  top: calc((100% / 8)*4 + 3px);
}

#hr5 {
  top: calc((100% / 8)*5 + 3px);
}

#hr6 {
  top: calc((100% / 8)*6 + 3px);
}

h1 {
  background-color: var(--white);
  z-index: 1;
  padding: 0 1em;
  font-size: 16px;
  margin: 0;
  line-height: 2.5;
}

h2 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
  width: 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  border: 3px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  border-radius: 3px;
  filter: drop-shadow(3px 3px 0 var(--black));
}

button:active {
  filter: drop-shadow(0px 0px 0 var(--black));
  color: var(--white);
  background-color: var(--black);

}

input {
  width: 100%;
  min-width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: var(--white);
}

input:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  position: relative;
  text-align: right;
  padding: 0.25em 0.5em;
}

.input-box {
  background-color: var(--white);
  border: 3px solid var(--black);
}

.p-1 {
  padding: 1em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  align-items: center;
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 1em;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1em;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  align-items: center;
  gap: 1em;
}

#input-canvas-container {
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
}

#input-canvas {
  background-color: var(--white);
  border: 3px solid var(--black);
  aspect-ratio: 1/1;
  cursor: crosshair;
}

#input-canvas td {
  width: 20px;
  height: 20px;
  border: 1px solid var(--white);
  cursor: crosshair;
}

#output-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--white);
}

#output-canvas {
  background-color: var(--white);
  max-height: 100%;
  max-width: 100%;
  border: 3px solid  var(--black);
  padding: 3px;
  box-shadow: 3px 3px 0 black, 1px 1px 0 6px var(--white);
  image-rendering: auto;
}

.pixelated {
  flex-grow: 1;
  image-rendering: pixelated !important;
}

.vertical-hr {
  border: none;
  border-left: 3px solid var(--black);
  height: 100%;
  margin: 0;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  image-rendering: pixelated;
  background-image: var(--background-image);
  background-size: 100vw 100vh;
  background-repeat: repeat;
  background-position: left;
  border: 2px solid var(--black);
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--white), 0 0 0 3px var(--black);

}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: var(--white);
  border: 2px solid var(--black);
  cursor: grab;
  border-radius: 1px;
  box-shadow: 0 0 0 1px var(--white), 0 0 0 3px var(--black); 
}

.custom-range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

#left-arrow {
  display: flex;
  width: 32px;
  height: 28px;
  background-color: var(--black);
  -webkit-mask-image: url(left_arrow.png);
  mask-image: url(left_arrow.png);
  -webkit-mask-size: 32px 28px;
  mask-size: 32px 28px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  cursor: pointer;
}

#right-arrow {
  display: flex;
  width: 32px;
  height: 28px;
  background-color: var(--black);
  -webkit-mask-image: url(right_arrow.png);
  mask-image: url(right_arrow.png);
  -webkit-mask-size: 32px 28px;
  mask-size: 32px 28px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 3px solid var(--black);
  cursor: pointer;
  overflow: hidden;

  input {
    position: absolute;
    width: 150%;
    min-width: unset;
    height: 150%;
    top: -25%;
    left: -25%;
    cursor: pointer;
  }
}